.movement-pad .region {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    rgba(218, 225, 230, 0.25) 5%,
    rgba(218, 225, 230, 0.5) 95%
  );
  /* background: radial-gradient(rgba(0, 215, 0, 1) 0%, rgba(0, 215, 0, 1) 100%); */
  border: 2px solid rgba(218, 225, 230, 0.25);
  border-radius: 90px; /* 円形の領域を作成。 */
  box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
  user-select: none;
}
