@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 全要素リセットスタイル
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /**
  * @apply は、「Tailwind CSS のクラスを通常の CSS の中で使うよ！」という宣言
  * Tailwind のユーティリティクラスを
  * 直接 CSS の中に適用できます。
  */
  @apply bg-white dark:bg-gray-950;

  /**
  * @media は、「特定の条件を満たすときに、このCSSを適用するよ！」 という宣言
  * 画面サイズやユーザー設定に応じてスタイルを変えることができます。
  * ================================================================
  * tailwind の適用範囲はCSSの適用範囲に過ぎないので
  * その範囲外のシステム要素（スクロールバー等）を
  * @media を使って、ブラウザやOSに働きかけることで
  * 一貫性を保って変更の適用ができます。
  */
  @media (prefers-color-scheme: dark) {
    /* ダークモードを選択してる場合 */
    color-scheme: dark;
  }
}

body {
  overflow-y: scroll; /* Scene2のisActivated == true の状態でも scroll bar の表示を維持 */
  user-select: none;
}
